<main>
    <div class="formGroup">
        <p>Abiertos: {{ totalAbiertos() }} | Cerrados: {{ totalCerrados() }}</p>
        <p>Existen Tickets Abiertos?:
            @if (hayTicketsAbiertos()) { SI } @else { 🎉 No hay tickets pendientes }
        </p>
        <table mat-table [dataSource]="ticketsMostrados()" class="mat-elevation-z2">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.id }}</td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef>Título</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.titulo }}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.estado }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let ticket">
                        @if (ticket.estado === 'Abierto') {
                            @if (auth.estaAutenticado()){
                                <button mat-icon-button (click)="confirmarCierre(ticket.id)" matTooltip="Cerrar ticket">
                                    <mat-icon>check_circle</mat-icon>
                                </button>
                            }
                        }
                    </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
        </table>
        <div style="display: flex; gap: 12px; margin-top: 16px;">
            @if (ticketStore.filtro() === 'todos') {
                <button mat-flat-button color="primary" (click)="ticketStore.setFiltro('todos')">Mostrar Todos</button>
            } @else {
                <button mat-stroked-button color="primary" (click)="ticketStore.setFiltro('todos')">Mostrar Todos</button>
            }
            @if (ticketStore.filtro() === 'Abierto') {
                <button mat-flat-button color="accent" (click)="ticketStore.setFiltro('Abierto')">Mostrar solo Abiertos</button>
            } @else {
                <button mat-stroked-button color="accent" (click)="ticketStore.setFiltro('Abierto')">Mostrar solo Abiertos</button>
            }
            @if (ticketStore.filtro() === 'Cerrado') {
                <button mat-flat-button color="warn" (click)="ticketStore.setFiltro('Cerrado')">Mostrar solo Cerrados</button>
            } @else {
                <button mat-stroked-button color="warn" (click)="ticketStore.setFiltro('Cerrado')">Mostrar solo Cerrados</button>
            }
        </div>
    </div>
</main>